@import "tailwindcss";

@layer components {
 .toast-description {
    color: var(--muted-foreground) !important;
    opacity: 0.9 !important;
  }

  .toast-success {
    border-left: 4px solid hsl(142.1 76.2% 36.3%) !important;
  }

  .toast-error {
    border-left: 4px solid hsl(0 72.2% 50.6%) !important;
  }

  .toast-warning {
    border-left: 4px solid hsl(47.9 95.8% 53.1%) !important;
  }

  .toast-info {
    border-left: 4px solid hsl(215.4 83.3% 53.3%) !important;
  }

  .toast-koin {
    border-left: 4px solid hsl(47.9 95.8% 53.1%) !important;
  }
}

/* Estilo global para scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #1e1e1e;
}